*{font-family:Arial,Verdana, Geneva, sans-serif; font-size:13px; text-align:center;}
.mainControls {
    line-height: 28px;
}
.wrapper {
    overflow: hidden;
}
.subWrapper{margin:0 auto;}
.template{float:left; margin: 0 7.5%;}
table{height:150px; width:150px; margin:10px auto;}
td{min-width:10px; min-height:1px}
/*td{width:10px; height:10px}*/
.black{background:#000;}
.name {
    display: block;
    font-size: 24px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.huge,.huge span{font-size:410px; font-family:Georgia, "Times New Roman", Times, serif; line-height:300px; margin-top:50px;}
.huge span{font-size:150px; line-height:150px;}
